/* Footer.module.css */

/* Base Styles */
.footerBottom {
  position: relative;
  margin-top: auto;
}

.innerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 4rem;
}

.column {
  flex: 1;
  min-width: 220px;
  padding: 15px;
}

.footerSection {
  margin-bottom: 20px;
}

.footerSectionTitle {
  font-size: 1.5em;
  color: #ffffff;
}

.footerTitle {
  margin-bottom: 10px;
}

.footerLinks {
  list-style: none;
  padding: 0;
}

.linkList {
  padding: 0;
  list-style: none;
}

.linkItem {
  margin: 5px 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover {
  text-decoration: underline;
}
.socialLinks {
  display: flex;
  justify-content: space-between;
}

.socialIconLink {
  width: 100%;
  transition: 0.5s;
  z-index: 1;
}

.socialIcon {
  color: #ffffff;
  transition: 0.5s;
  font-size: 2em;
  z-index: 3;
}

.socialIconLink:hover .socialIcon {
  color: #fff;
  transform: rotateY(360deg);
  scale: 1.5;
  border-radius: 50%;
  box-shadow: rgba(0, 26, 112, 0.5) 0px 1px 8px 3px;
}

.footerDescription {
  margin: 15px 0;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.footerCopyright {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.logoColumn {
  flex: 1;
}

.copyrightColumn {
  flex: 1;
  text-align: right;
}

.footerLogo {
  font-size: 1.8em;
  font-weight: bold;
}

.logoTextLink {
  text-decoration: none;
  text-align: left;
  margin-left: 3rem;
}

.logoText {
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.footerCopyrightText {
  color: rgba(255, 255, 255, 0.7);
}
.innerContainerCopyright{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.textEnd {
  text-align: right;
}

.copyrightText {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  /* .row {
    padding: 0 2rem;
  } */
  
}

@media (max-width: 992px) {
  .row {
    flex-wrap: wrap;
    text-align: center;
    padding: 0 1rem;
  }

  .column {
    margin-bottom: 20px;
  }

  .footerLogo {
    font-size: 1.5em;
  }

  .copyrightColumn {
    text-align: center;
  }

  .textEnd {
    text-align: center;
  }
  .logoTextLink{
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
  }
  
}

@media (max-width: 768px) {
  .row {
    padding: 0;
  }

  .socialIcon {
    font-size: 1.8em;
  }
  .innerContainerCopyright{
    flex-direction: column;
  }
}


